/* General Settings */
*, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./assets/images/y-so-serious-white.png);
}

h1 {
  text-shadow: 3px 3px 12px #12343b;
  padding-bottom: 15px;
  color: #5A9B37;
  text-align: center;
  font-size: 2em;
}

h2 {
  padding: 15px 0px;
  color: azure;
  font-size: 1.75em;
}

hr {
  width: 80%;
  margin: 0 auto;
  border: 2px solid #D0E7C3;
  border-radius: 2px;
}

/* Centered usable part of page */
#card {
  box-shadow: 7px 7px 22px 0px rgb(54, 94, 32);
  background-color: #79B35A;
  border-radius: 9px;
  text-align: center;
  margin: 0 auto;
}

/* Where all the magic happens */
#passwordGenerator {
  height: 250px;
  background-color: azure;
  width: 80vw;
  max-width: 650px;
  margin: 10px 30px;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form Settings: Hidden until targeted. */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.inline-buttons {
  display: flex;
}

form p {
  margin: 0 12px;
}

form input {
  margin: 0 5px;
}

form button {
  width: 40%;
}

label {
  margin: 15px 0;
}

.numInput > input {
  padding: 8px;
}


/* Button Classes */
button {
  padding: 5px 15px;
  font-size: 16px;
  margin: 15px 10px;
  border-radius: 5px;
  background-color:#ff0028;
  color: azure;
  width: 50%;
}

button:active {
  background-color:#920016;
}

#passwordPlaceholder {
  overflow: scroll;
}

/* Media Queries*/
@media screen and (max-width: 600px) {
  #card {
    width: 95vw;
  }
}

/* Form Selectors */
#form1 {
  display: none;
}

#form2 {
  display: none;
}

#form3 {
  display: none;
}

#form4 {
  display: none;
}

#form5 {
  display: none;
}

.color-primary-0 { color: #99C97F }	/* Main Primary color */
.color-primary-1 { color: #D0E7C3 }
.color-primary-2 { color: #B9DEA5 }
.color-primary-3 { color: #79B35A }
.color-primary-4 { color: #5A9B37 }
